<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Let me iin! - Insider
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/wannain.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
</head>

<body id="mainContainer">
    <div id="navigationBar" style="position: fixed; width: 100%; z-index: 100">
        {% include "navbar.html" %}
    </div>
    <div id="pageBody">
        <div id="loginBox">
            <div class="card-header">
                <h4>
                Log<span class="badge badge-secondary" style="background: #30ce5c; font-size: 100%">in</span>
            </h4>
            </div>
            <form action="" method="post" style="padding-top: 10px;">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary" style="background: #30ce5c; border-color: #30ce5c">Login</button>
            </form>
        </div>
    </div>
</body>

</html>