<div style="padding-top: 2%; ">
    <div class="card">
        <div class="card-header">
            <div class="media">
                <div class="media-body">
                    <div class="container">
                        <span class="account-heading">User content</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!--<div class="media-body">-->
            <ul class="nav flex-column">
                <li class="nav-item">

                    <a class="nav-link sidebar_element" href="{% url 'homepage' %}"><span class="badge badge-secondary ">{{media_count.posts}}</span> Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sidebar_element" href="{% url 'homepage' %}"><span class="badge badge-secondary ">0</span> Memes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sidebar_element" href="#"><span class="badge badge-secondary ">0</span> Pictures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sidebar_element" href="#"><span class="badge badge-secondary ">0</span> Internet places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sidebar_element" href="#"><span class="badge badge-secondary ">0</span> Bookmarks</a>
                </li>
            </ul>
            <!--</div>-->
        </div>
    </div>
</div>
