<div style="padding-top: 2%; ">
    <div class="card">
        <div class="card-header">
            <div class="media">
                <div class="media-body">
                    <div class="container">
                        <span class="account-heading">User actions</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="media-body">
                <div class="form-group">
                    <button class="btn btn-success" style="width: 100%;">Add as friend</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" style="width: 100%;">Remove</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger" style="width: 100%;">Ban</button>
                </div>
            </div>
        </div>
    </div>
</div>
