<div style="padding-top: 2%; ">
    <div class="card">
        <div class="card-header">
            <div class="media">
                <div class="media-body">
                    <div class="container">
                        <span class="account-heading">User content</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="bd-toc-item">
                <a class="bd-toc-link insider-sidebar-element" href="/home">
                    <span class="badge badge-info">{{ media_count.posts }}</span> Posts
                </a>
            </div>
            <div class="bd-toc-item">
                <a class="bd-toc-link insider-sidebar-element" href="/home">
                    <span class="badge badge-info">0</span> Pictures
                </a>
            </div>
            <div class="bd-toc-item">
                <a class="bd-toc-link insider-sidebar-element" href="/home">
                    <span class="badge badge-info">0</span> Internet places
                </a>
            </div>
            <div class="bd-toc-item">
                <a class="bd-toc-link insider-sidebar-element" href="/home">
                    <span class="badge badge-info">0</span> Bookmarks
                </a>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
