<div class="container">
    <div class="card">
        <div class="card-header">
                <div class="media">
                    <img class="rounded-circle account-img" style="width:100px; height:100px; margin-right: 2%" src="{{ profile.image.url }}">
                    <div class="media-body">
                        {% if user == profile.user %}
                            <a class="float-right" href="{% url 'homepage_edit' %}">Edit</a>
                        {% endif %}
                        <h2 class="account-heading">{{ profile.user.username }}</h2>
                        <div class="container">
                            <span class="text-secondary">{{ profile.user.first_name }} {{ profile.user.last_name }}</span>
                        </div>
                        <div class="container">
                        <span class="text-secondary">{{ profile.status }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="media-body">
                <div class="row">
                    <div class="col-md-1">
                        <span class="text-secondary">Gender: </span>
                    </div>
                    <div class="col-md-11">
                        <span class="card-text">{{ profile.get_gender_display }}</span>
                    </div>
                </div>
                <div>

                </div>
                <div class="row">
                    <div class="col-md-1">
                        <span class="text-secondary">About: </span>
                    </div>
                    <div class="col-md-11">
                        <div class="card-text text-justify">{{ profile.about }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>