#wannainCenterbox
{
    border: 1px solid #8a9f84;
    width: 70%;
    padding: 10px;
    background-color: #ccd9c8;
    margin: auto;

    border-radius: 3px;
}

#loginBox
{
    border: 1px solid #8a9f84;
    width: 50%;
    padding: 10px;
    background-color: #ccd9c8;
    margin: auto;
    border-radius: 3px;
}

#mainContainer
{
    background: #d3dad1;
}

#pageBody
{
    padding-top: 100px;
}

.user-avatar
{
    border-radius: 50%!important;margin-right: 2%;background-size: cover;background-position: center center;background-repeat: no-repeat;
}