<div style="padding-top: 1%;">
    <div class="card">
        <div class="card-header">
            <div class="media">
                <div class="user-avatar"
                     style="width:50px; height:50px; margin-right: 2%; background-image: url({{ profile.image.url }});"></div>
                <div class="media-body">

                    <div class="container" style="padding-right:0%">
                        <span class="account-heading text-capitalize">{{ post.author.username }}</span>
                        <span class="float-right text-secondary">{{ post.date_pub|date:"Y F d ‒ H:m " }}</span>
                        <br>
                        <span class="text-secondary">{{post.author.first_name}} {{post.author.last_name}}</span>
                        {% if post.author == user or user.is_stuff %}
                        <a class="float-right text-danger insider-update-button"
                           href="{% url 'post_delete' post.slug %}">Delete</a>
                        <a class="float-right insider-update-button" href="{% url 'post_edit' post.slug %}"
                           style="padding-right: 0%; margin-right:1%;">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="media-body">
                <h3 class="account-heading">{{post.title}}</h3>
                <hr class="style1">
                {% if post.processed_short_body %}
                <div class="card-text text-justify">{{ post.processed_short_body|safe }}</div>
                {% else %}
                <div class="card-text text-justify">{{ post.processed_body|safe|truncatewords:100 }}</div>
                {% endif %}
                {% if post.processed_short_body %}
                <a href="{% url 'post_view' post.slug %}">See full post</a>
                {% endif %}
            </div>
        </div>
        <div class="card-footer">

            <div>
                <span>Tags: </span>
                {{ post.post_tags }}
                {% if post.post_tags|length == 0 %}
                no tags.
                {% endif %}
            </div>
        </div>
    </div>
</div>