{% extends "main_template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Create post - {{ block.super }}
{% endblock %}

{% block includes %}
<link rel="stylesheet" href="{% static 'css/user_post.css' %}">
{% endblock %}

{% block content %}
<div style="padding-top: 1%;">
    <div class="card">
        <div class="card-header">
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Delete Post</legend>
                        <h2>Are you sure you want to delete <a href="{% url 'post_view' object.slug %}">the post</a>?</h2>
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-danger" type="submit">Yes</button>
                        <a class="btn btn-outline-secondary" href="{% url 'post_view' object.slug %}">No</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
