{% extends "main_template.html" %}

{% block title %}
    Insider - your home
{% endblock %}

{% block content %}
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
<br>Oh, hai!
{% endblock %}

