{% extends "main_template.html" %}
{% load static %}

{% block title %}
    User posts - {{ block.super }}
{% endblock %}

{% block page_description %}
    {{ profile.user.username }} home page.
{% endblock %}



{% block page-content %}
<div class="container">
    <div class="row">
        <!--<div class="col-md-8" style="padding-left:4px;">-->
            {% for folder in folders %}
        <a href="#" style="text-decoration: inherit; color: inherit;">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ folder.title }}</h5>
                    <!--<p class="card-text " style="overflow: hidden; height: 10rem;"></p>-->
                    <div class="insider-preview-bookmark-text"><span>{{ folder.description }}</span></div>
                </div>
            </div>
            </a>
        {% endfor %}
        <!--</div>-->

    </div>
</div>
{% endblock %}
