{% extends "main_template.html" %}
{% load static %}

{% block title %}
User bookmark - {{ block.super }}
{% endblock %}

{% block page_description %}
Bookmark.
{% endblock %}


{% block navbar-controls %}
    <a class="btn btn-info" href="{% url 'bookmark_folder' bookmark.folder.slug %}">< To parent folder</a>
{% endblock %}

{% block page-content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="media">
                <a href="{% url 'user_home' bookmark.author.username %}" style="padding-right: 2%;">
                    <div class="user-avatar" style="width:100px; height:100px; margin-right: 2%; background-image: url({{ bookmark.author.profile.image.url }});"></div>
                </a>
                <div class="media-body">
                    {% if user == bookmark.author %}
                    <a class="float-right text-danger insider-update-button" href=" url 'bookmark_delete' bookmark.slug %}">Delete </a>
                    <a class="float-right insider-update-button" href=" url 'bookmark_edit' bookmark.slug %}" style="padding-right: 1%;">Edit</a>
                    {% endif %}
                    <a href="{% url 'user_home' bookmark.author.username %}" style="color: black;">
                    <h2 class="account-heading">{{ bookmark.author.username }}</h2>
                    </a>
                    <div class="container">
                        <span class="text-secondary">{{ bookmark.author.first_name}} {{ bookmark.author.last_name}}</span>
                    </div>
                    <div class="container">
                        <span class="text-secondary">{{bookmark.author.profile.status}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="media-body">
                <h3 class="account-heading">{{bookmark.title}}</h3>
                <hr class="style1">
                <div class="text-justify">
                    {{ bookmark.body|safe }}
                </div>
            </div>
        </div>
        <div class="card-footer">
            Tags:
            {% if bookmark.tags|length == 0 %}
                no tags
            {% endif %}
            {{ bookmark.tags }}
        </div>
    </div>
</div>
{% endblock %}
