{% extends "main_template.html" %}
{% load static %}

{% block title %}
User posts - {{ block.super }}
{% endblock %}

{% block includes %}
    <link rel="stylesheet" href="{% static 'css/user_post.css' %}">
{% endblock %}

{% block content %}

 <!--style="padding: 1%; width: 70%; margin: auto"-->
<!--<div class="content-section">-->
    <!--<div class="media">-->


    <!--</div>-->
<!--</div>-->
{% include "users/snippets/homepage_user_info.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-4" style="padding-top: 0%; padding-right:4px;">
            {% include "users/snippets/homepage_user_actions.html" %}
            {% include "users/snippets/homepage_user_media.html" %}
            {% include "users/snippets/homepage_user_friends.html" %}
        </div>
        <div class="col-md-8" style="padding-left:4px;">
            <!--{% if posts|length == 0 %}-->
                <!--<div class="card">-->
                    <!--<div class="card-body">-->
                        <!--<div class="media-body">-->
                            <!--<span class="card-text">No posts here.</span>-->
                            <!--{% if profile.user == user %}-->
                                <!--<a href="{% url 'post_create' %}">Create</a>-->
                            <!--{% endif %}-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--{% endif %}-->
            {% for post in posts %}
                {% include "homepage/snippets/post_preview.html" %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
