<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Insider
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    {% block includes %}
    {% endblock %}
</head>
<body style="background: #ccd9c8">

    <div id="navigationBar" style="position: fixed; width: 100%; z-index: 100">
        {% include "navbar.html" %}
    </div>
    <div id="pageLayout">
        <div id="sideBar">
            {% include "side_bar.html" %}
        </div>

        <div id="pageBody" style="display: block; padding-left: 195px; padding-top: 55px; background: #ccd9c8;">
            {% block content %}
                If you see this, you shouldn't.
            {% endblock %}
        </div>
    </div>
</body>
</html>