<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Insider
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    {% block includes %}
    {% endblock %}
</head>
<body style="background: #ccd9c8">

    <div id="navigationBar" style="position: fixed; width: 100%; z-index: 100">
        {% include "navbar.html" %}
    </div>
    <div id="pageLayout">
        <div id="sideBar">
            {% include "side_bar.html" %}
        </div>

        <div id="pageBody" style="display: block; padding-left: 195px; padding-top: 55px; background: #ccd9c8;">
            {% block content %}
                If you see this, you shouldn't.
            {% endblock %}
        </div>
    </div>
</body>
</html>