{% load static %}

<div class="col-12 col-md-3 col-xl-2 bd-sidebar insider-side-bar">
    <form class="bd-search d-flex align-items-center insider-sidebar-search">
                <span class="algolia-autocomplete"
                      style="position: relative; display: inline-block; direction: ltr;"><input type="search"
                                                    class="form-control ds-input"
                                                    id="search-input"
                                                    placeholder="Search..."
                                                    autocomplete="off"
                                                    data-docs-version="4.3"
                                                    spellcheck="false"
                                                    role="combobox"
                                                    aria-autocomplete="list"
                                                    aria-expanded="false"
                                                    aria-owns="algolia-autocomplete-listbox-0"
                                                    dir="auto"
                                                    style="position: relative; vertical-align: top;"><pre
                        aria-hidden="true"
                        style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, &quot;Noto Sans&quot;, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                        class="ds-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0"
                        style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;"><div
                        class="ds-dataset-1"></div></span></span>
        <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button"
                data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav"
                aria-expanded="true" aria-label="Toggle docs navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"
                 focusable="false"><title>Menu</title>
                <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
                      d="M4 7h22M4 15h22M4 23h22"></path>
            </svg>
        </button>
    </form>
    <nav class="bd-links collapse show" id="bd-docs-nav" style="">
        <div class="bd-toc-item">
            <a class="bd-toc-link insider-sidebar-element" href="{% url 'user_home' user.username %}">
                Your home
            </a>
        </div>
        <div class="bd-toc-item">
            <a class="bd-toc-link insider-sidebar-element" href="#">
                <del style="color: black;">Memes</del>
            </a>
        </div>
        <div class="bd-toc-item">
            <a class="bd-toc-link insider-sidebar-element" href="#">
                <del style="color: black;">Pictures</del>
            </a>
        </div>
        <div class="bd-toc-item">
            <a class="bd-toc-link insider-sidebar-element" href="#">
                <del style="color: black;">Internet places</del>
            </a>
        </div>
        <div class="bd-toc-item">
            <a class="bd-toc-link insider-sidebar-element" href="#">
                <del style="color: black;">People</del>
            </a>
        </div>
        <div class="bd-toc-item">
            <a class="bd-toc-link insider-sidebar-element" href="{% url 'user_bookmark_folders'  user.username %}">
                Bookmarks
            </a>
        </div>
    </nav>
</div>
