{% load static %}

<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link sidebar_element" href="#">Your home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link sidebar_element" href="#">Memes</a>
  </li>
    <li class="nav-item">
    <a class="nav-link sidebar_element" href="#">Pictures</a>
  </li>
  <li class="nav-item">
    <a class="nav-link sidebar_element" href="#">Internet places</a>
  </li>
   <li class="nav-item">
    <a class="nav-link sidebar_element" href="#">People</a>
  </li>
  <li class="nav-item">
    <a class="nav-link sidebar_element" href="#">Bookmarks</a>
  </li>
</ul>