.insider-preview-bookmark-text {
  height: 10rem;
  overflow: hidden;
  line-height: 25px;
  padding: 5px;
  position: relative;
  text-align: justify;
}

.insider-preview-bookmark-text span {
  position: absolute;
  white-space: wrap;
  transform: translateX(0);
  transition: 1s;
}

.insider-preview-bookmark-text:hover span {
  transform: translateY(calc(-100% + 100px));
  transition: 5000ms all 300ms linear;
}

.insider-new-folder {
    width: 18rem;
    background-color: #ccd9c8;
    border: 3px dashed #b3c4b4;
    text-decoration: inherit;
    color: inherit;
}