<div class="container">
    <div class="card">
        <div class="card-header">
                <div class="media">
                    <div class="user-avatar" style="width: 100px; height: 100px; background-image: url({{ profile.image.url }});"></div>
                    <div class="media-body">
                        {% if user == profile.user %}
                            <a class="float-right insider-update-button" href="{% url 'homepage_edit' %}">Edit</a>
                        {% endif %}
                        <h2 class="account-heading text-capitalize">{{ profile.user.username }}</h2>
                        <div class="container">
                            <span class="text-secondary">{{ profile.user.first_name }} {{ profile.user.last_name }}</span>
                        </div>
                        <div class="container">
                        <span class="text-secondary">{{ profile.status }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="media-body">
                <div class="row">
                    <div class="col-xs-3 col-s-3 col-md-3">
                        <span class="text-secondary">Gender: </span>
                    </div>
                    <div class="col-xs-9 col-s-9 col-md-9">
                        <span class="card-text">{{ profile.gender }}</span>
                    </div>
                </div>
                <div>

                </div>

                {% if profile.about|length != 0 %}
                <div class="row">
                    <div class="col-xs-3 col-s-3 col-md-3">
                        <span class="text-secondary">About: </span>
                    </div>
                    <div class="col-xs-9 col-s-9 col-md-9">
                        <div class="card-text text-justify">{{ profile.about }}</div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>