@media only screen and (min-width: 768px) {
.insider-side-bar
{
    background-color: #d3dad1;
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
    box-sizing: border-box;
    border-right: 1px solid #8a9f84;
}
}

.insider-side-bar
{
    background-color: #d3dad1;
    z-index: 1000;
    box-sizing: border-box;
    border-bottom: 1px solid #8a9f84;
}

.insider-sidebar-element
{
    padding: .25rem 0.1rem;
}

.insider-sidebar-search
{
    padding: 1rem 0.1rem;
}